
.agenda-modal {
    padding-top: 5%;
    font-size: 13px;
    padding-left: 1%;
    padding-right: 1%;
}

.searchButton {
    padding: .5rem 1rem;
}

.dateText {
    min-width: 120px;
    margin-top: 3%;
}

.modal-title i {
    margin-left: 90%;
    cursor: pointer;
}

.form-control {
    max-width: 250px !important;
}

.modal-title {
    padding: 1%;
    display: flex;
}

.d-flex {
    display: flex;

}
