
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
       .container {
  
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container {
    width: 1140px!important; 
    max-width:  1140px!important;
} }
    // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) { 
    .container {
    width: 1400px!important; 
    max-width:  1400px!important;
}
}
