.facebook {
    color: #3b5998;
}

.twitter {
    color: #1DA1F2;
}

.google {
    color: #DB4437;
}

.linkedin {
    color: #0077B5;
}

.pinterest {
    color: #C92228;
}

.tumblr {
    color: #2C4762;
}

.whatsapp {
    color: #36B320;
}


.fa {
    padding-left: 5px;
    margin-right: 7px;
    min-width: 20px;
    font-size: 15px;
}

.fa:hover {
    color: unset;
}

.share-button {
    cursor: pointer;
    padding: 2px;
    border-bottom: 1px solid rgb(236, 238, 239);
}

.share-button:hover {
    background-color: #eaeaea;
}


.social-media {
    font-size: 14px;
    padding: 3px;
}
