<ng2-toasty></ng2-toasty>

<router-outlet></router-outlet>

<footer class="bd-footer text-muted" *ngIf="isShowFooter">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a target="_blank" href="https://www.facebook.com/InterpressMedyaTakipMerkezi/">Facebook</a></li>
      <li><a target="_blank" href="https://twitter.com/Interpress1940">Twitter</a></li>
      <li><a target="_blank" href="https://www.linkedin.com/company/16263596/">Linkedin</a></li>
      <li><a target="_blank" href="https://www.instagram.com/interpress1940/">Instagram</a></li>
    </ul>
    <p>© 2017 interweb
     
  </div>
</footer>
