<div class="agenda-list" > 
  <table class="table table-hover" >
    <thead >
    <tr>
      <th class="table-no-field">No</th>
      <th class="table-date-field">{{'AGENDA.date' | translate}}</th>
      <th class="table-title-field">{{'AGENDA.title' | translate}}</th>
    </tr>
    </thead>
    <tbody *blockUI="'agenda-list-loader'">
    <tr *ngFor="let agenda of agendaList | async ; let i=index; trackBy : trackById" (click)="openAgendaDetailsClick(agenda)">
      <td class="table-no-field">{{i+1}}</td>
      <td class="table-date-field">{{agenda.publishDate |date:'dd/MM/yyyy'}}</td>
      <td class="table-title-field">{{agenda.title}}</td>
    </tr>
    </tbody>
  </table>
</div>



