@import '../../../../styles/conf.scss';

body {
    padding: 0 !important;
}


.share-interpress-iframe {
    height: 95%;
    width: 100%;
    position: absolute;

}

.icons {
    color: white;
    padding: 10px;
    font-size: 20px;
    float: right;
    cursor: pointer;
}

.agendaHeader i:hover {
    color: #a5a5a5;
}

.agendaHeader {
    background-color: #3c4355 !important;
    height: 50px;
}


.agendaHeader-icons {
    padding-right: 2%;
}

.brand {
    background-image: url(('/'+$logo-root));
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
     padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 1.25rem;
}

.fa-share-alt::after {
    content: unset !important;
}

.dropdown-menu {
    top: 42px !important;
    right: 13.5% !important;
    padding: unset !important;
    margin: unset !important;
}

.dropdown-menu:before {
    left: 140px !important;
}

.sb-button {
    width: 100%;
}

.sb-button button {
    padding: 0px !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}

@media print {
    .container {
        display: none;
    }

    body, html, #wrapper {
        width: 100% !important;
    }
}


